div.blogCategory {
  margin-left:0px;
  margin-right: 0px;
  margin-top:0px;
  margin-bottom: 20px;
  border:0px solid lightgrey;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
