<div class="content">

  <div class="content-max-width">
    <app-banner fileNamePicture="banner-application.png"></app-banner>
  </div>

  <div class="content-narrow">
    <h1>{{postCategory?.title}}</h1>

    <p>{{postCategory?.description}}</p>

    <ul style="padding-left:0px;">
      <li *ngFor="let post of postCategory?.listPost" class="blogArchiveOverview">
        <a [routerLink]="['/post', post.uuid]" class="link_header">
          <h2>{{post.title}}</h2>
        </a>
        <div class="blogMetadata">
          Autor: {{post.author.lastName}} {{post.author.firstName}} /
          Publiziert am: {{post.dateCreated}} /
          Lesedauer: {{post.duration}} Minuten /
          Kommentare: {{post.amountOfComments}}
        </div>
        <p>{{post.content}}</p>
      </li>
    </ul>
  </div>
</div>
