<div class="content">

  <div class="content-max-width">
    <app-banner fileNamePicture="banner-application.png"></app-banner>
  </div>

  <div class="content-narrow">
    <h1>Blog: {{blog.title}}</h1>

    <form [formGroup]="formBlog" (ngSubmit)="actionSave()" novalidate>

      <div class="inputBlock">
        <input type="text"
               formControlName="title"
               placeholder="Blog Titel"
               class="inputText"
               [(ngModel)]="blog.title"/>
        <div *ngIf="formBlog.get('title').hasError('required')
             && formBlog.get('title').touched" class="outputTextError">
          Bitte geben Sie einen Titel für den Blog ein.
        </div>
      </div>

      <div class="inputBlock">
      <textarea rows="10" cols="50"
                formControlName="description"
                placeholder="Beschreibung"
                class="inputText"
                [(ngModel)]="blog.description"></textarea>
        <div *ngIf="formBlog.get('description').hasError('required')
             && formBlog.get('description').touched" class="outputTextError">
          Bitte geben Sie eine Beschreibung ein.
        </div>
      </div>

      <div style="text-align: right">
        <a href="" class="btn scoop_button_secondary" (click)="actionCancel()">Abbrechen</a>
        <button type="submit" class="btn scoop_button_primary">Speichern</button>
      </div>
    </form>
  </div>
</div>
