<footer>
  <div class="contentFooterMenu">
    HOME <br>
    SHOP <br>
    BLOG <br>
    WARENKORB<br>
    SUCHEN

    <div class="contentFooterSocialMedia">
      <a href="https://www.facebook.com/martin.braun.56481" class="sb min facebook" target="_blank">
        <img src="../../../../../assets/icons/icon_facebook.svg" class="icon"/>
      </a>
      <a href="https://twitter.com/ILoveRotwild" class="sb min twitter" target="_blank">
        <img src="../../../../../assets/icons/icon_twitter.svg" class="icon"/>
      </a>
    </div>
  </div>

  <div class="contentFooterBottom">
    <div class="contentFooterLanguage">Deutsch | Englisch</div>

    <div class="contentFooterSocialMedia">
      Copyright © 2017 SCOOP Solutions. All rights reserved.
    </div>

  </div>
</footer>
