<app-banner></app-banner>

<div class="contentHomepage">
  <h1>Produkte</h1>

  <app-product-filter-bar></app-product-filter-bar>

  <a href="#" [routerLink]="['/products/add']">
    <img src="assets/icon/icon_plus.svg" width="20" height="20"/>
    Produkt erstellen
  </a>

  <br>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nummer</th>
        <th>Bezeichnung</th>
        <th>Preis</th>
        <th>Anzahl Lager</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of listProduct | async" [routerLink]="['/products', product.uuid]">
        <td>{{product.number}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.amountOfItem}}</td>
        <td>
          <a href="#" (click)="actionDelete()">
            <img src="assets/icon/icon_minus.svg" width="20" height="20"/>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
