<div class="content">

  <div class="content-max-width">
    <app-banner fileNamePicture="banner-application.png"></app-banner>
  </div>

  <div class="content-narrow">
<!--    <h1>{{blog.title}}</h1>-->
    <h1>Blog 'Beispiel'</h1>
<!--    <p>{{blog.description}}</p>-->

<!--    <ul style="padding-left:0px;">-->
<!--      <li *ngFor="let post of listPostNewest | async" class="blogArchiveOverview">-->
<!--        <a [routerLink]="['/post', post.uuid]" class="link_header">-->
<!--          <h2>{{post.title}}</h2>-->
<!--        </a>-->
<!--        <div class="blogMetadata">-->
<!--          Autor: {{post.author.lastName}} {{post.author.firstName}} /-->
<!--          Publiziert am: {{ post.dateCreatedAt | date:'d MMMM y' }} /-->
<!--          Lesedauer: {{post.duration}} Minuten /-->
<!--          Kommentare: {{post.amountOfComments}}-->
<!--        </div>-->
<!--        <p [innerHTML]="post.introduction"></p>-->
<!--      </li>-->
<!--    </ul>-->

<!--    <br/><br/>-->

<!--    <ul>-->
<!--      <li *ngFor="let postCategory of blog.listPostCategory | async">-->
<!--        <a [routerLink]="['/postCategory', postCategory.uuid]" class="link_header">-->
<!--          <h2>{{postCategory.title}} [{{postCategory.amountOfBlogs}}]</h2>-->
<!--        </a>-->
<!--        <p [innerHTML]="postCategory.description"></p>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->

</div>
