<nav>
  <div class="dropdown">
    <a routerLinkActive="menuItemTopSelected" class="menuItemTop">HOME</a>
  </div>

  <div class="dropdown">
    <a class="menuItemTop">SHOP</a>
  </div>

  <div class="dropdown">
    <a class="menuItemTop">BLOG</a>
  </div>

  <div class="dropdown">
    <a class="menuItemTop">
      <img src="assets/icons/icon_partner.svg" width="20" height="20"/>
    </a>
    <div class="submenu">
      <div class="submenu-1-column">
        <a class="menuItem">PROFIL</a>
        <a class="menuItem">FREUNDE</a>
        <a class="menuItem">MITTEILUNGEN</a>
      </div>
      <div class="submenu-2-column">
        <a class="menuItem">WARENKORB</a>
        <a class="menuItem">WUNSCHLISTE</a>
        <a class="menuItem">BESTELLUNGEN</a>
      </div>
      <div class="submenu-4-column">
        <a *ngIf="isUserLoggedIn()" (click)="logout()" class="menuItem">ABMELDEN</a>
      </div>
    </div>
  </div>

  <div class="dropdown">
    <a class="menuItemTop">
      <img src="assets/icons/icon_shopping_cart.svg" width="20" height="20"/>
    </a>
  </div>
</nav>
