<div class="content">

  <div class="content-max-width">
    <app-banner fileNamePicture="banner-application.png"></app-banner>
  </div>

  <div class="content-slim">
    <form [formGroup]="formPasswordRequest" (ngSubmit)="passwordRequest()" novalidate>
      <h1>Passwort zurücksetzen</h1>
      <p>Haben Sie ihr Passwort vergessen? Dann geben Sie unten bitte Ihre Emailadresse ein. Anschliessend
        senden wir Ihnen via Email die weiteren Informationen.</p>

      <div class="inputBlock">
        <input
          formControlName="email"
          type="text"
          placeholder="Email"
          class="inputText"/>
        <div *ngIf="formPasswordRequest.get('email').hasError('required')
            && formPasswordRequest.get('email').touched" class="outputTextError">
          Bitte geben Sie eine korrekte Mailadresse ein.
        </div>
      </div>
      <br>
      <button class="btn scoop_button_primary_centered">Senden</button>
    </form>
  </div>

</div>
