<div class="full-screen-image content_banner">
  <div class="content-narrow">
    <h1>SWISS.DRAFT - The Original Swiss Beer</h1>
  </div>

  <div class="content-narrow">
    <p class="textAlignMiddle">
      Ein Bier, dass alle Gene der Schweiz enthält. Über Schweizerischen Gerste und Hopfen über das reine
      Schweizer Quellwasser. Alles natürliche Zutaten, die den unvergleichlichen Geschmack unserer Biere
      wiederspiegeln.

      Prost wünscht euch das SWISS.DRAFT Team.
    </p>
  </div>

  <div class="buttonBanner">
    <button class="btn scoop_button_primary_centered buttonBanner">Los geht's</button>
  </div>
</div>
