.content_banner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.full-screen-image {
  background-image: url("../../../../../../assets/img/banner/banner-full-screen.png");

  width:100%;
  min-height:100vh;
  height: auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.buttonBanner {
  grid-column: 6 / span 2;
}
