<div class="content">

  <div class="content-max-width">
    <app-banner fileNamePicture="banner.png"></app-banner>
  </div>

  <div class="content-narrow">
    <h1>Warenkorb</h1>

<!--    <p *ngIf="shoppingCart.listOrderItem.length == 0">Dein Warenkorb ist gegenwärtig leer.</p>-->

<!--    <table>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let orderItem of shoppingCart.listOrderItem">-->
<!--        <td>{{orderItem.product.id}}</td>-->
<!--        <td>{{orderItem.product.name}}</td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->

    <button type="submit" class="btn scoop_button_primary_centered">Weiter einkaufen</button>
  </div>

</div>
