<div class="content">
  <loading-spinner></loading-spinner>
  <snackbar [infoText]="snackbarText"></snackbar>
  <img src="/../assets/img/background/surfing-1.jpg" id="background" class="blur" alt="">

  <div class="logo">
    <a [routerLink]=" ['/home'] ">
      <img src="../../../../../assets/img/logo-swissdraft.png" style="height: 100px; width: 200px"/>
    </a>
  </div>

  <div class="content-slim" style="margin-top: 150px">
    <form [formGroup]="formLogin" (ngSubmit)="login()" novalidate>
      <h1>Anmelden</h1>

      <div class="inputBlock">
        <input id="inputUserName"
               formControlName="userName"
               type="text"
               placeholder="Benutzername"
               class="inputText"
               autofocus/>
        <div *ngIf="formLogin.get('userName').hasError('required')
            && formLogin.get('userName').touched" class="outputTextError">
          Bitte geben Sie einen Benutzernamen ein.
        </div>
      </div>

      <div class="inputBlock">
        <input id="inputPassword"
               formControlName="password"
               type="password"
               placeholder="Passwort"
               class="inputText"/>
        <div *ngIf="formLogin.get('password').hasError('required')
            && formLogin.get('password').touched" class="outputTextError">
          Bitte geben sie ein Passwort ein.
        </div>
      </div>

      <p style="padding-top: 0px; margin-top: 0px;">
        <a routerLink="/resetPassword" href="">Passwort vergessen?</a>
      </p>

      <button type="submit" [disabled]="formLogin.invalid" class="btn scoop_button_primary_centered">Anmelden</button>
    </form>

    <br>
    <p>Hast du noch kein Benutzerkonto?</p>
    <button type="submit" routerLink="/register" class="btn scoop_button_outline_centered">Registrieren</button>
  </div>
</div>
