<app-banner></app-banner>

<div  class="contentHomepage">
  <form [formGroup]="formProduct" (ngSubmit)="actionSave()" novalidate>
    <h1>Produkt: {{product?.name}}</h1>

    <input type="text"
           formControlName="number"
           placeholder="Produktnummer"
           class="inputTextFormCentered"
           autofocus/>
    <div *ngIf="formProduct.get('number').hasError('required')
          && formProduct.get('number').touched" class="error">
      Bitte geben Sie eine gültige Produktnummer ein.
    </div>
    <div *ngIf="formProduct.get('number').hasError('pattern')
            && formProduct.get('number').touched" class="error">
      Format Produktnummer nicht korrekt.
    </div>

    <input type="text"
           formControlName="name"
           placeholder="Name"
           class="inputTextFormCentered"/>
    <div *ngIf="formProduct.get('name').hasError('required')
           && formProduct.get('name').touched" class="error">
      Bitte geben Sie ein Benutzername ein.
    </div>

    <textarea rows="10" cols="50"
           formControlName="description"
           placeholder="Beschreibung"
           class="inputTextFormCentered"></textarea>

    <input type="text"
           formControlName="price"
           placeholder="Preis"
           class="inputTextFormCentered"/>
    <div *ngIf="formProduct.get('price').hasError('required')
          && formProduct.get('price').touched" class="error">
      Bitte geben Sie einen Preis ein.
    </div>

    <div style="text-align: right">
      <a href="" class="btn scoop_button_secondary" (click)="actionCancel()">Abbrechen</a>
      <button type="submit" class="btn scoop_button_primary">Speichern</button>
    </div>
  </form>
</div>
