<div class="content">

  <div class="content-max-width">
    <app-banner fileNamePicture="banner-application.png"></app-banner>
  </div>

  <div class="content-slim">
    <form [formGroup]="formRegistration" (ngSubmit)="actionRegister()" novalidate>
      <h1>Registrieren</h1>

      <loading-spinner></loading-spinner>
      <snackbar [infoText]="snackbarText"></snackbar>

      <div class="inputBlock">
        <input type="text"
               formControlName="userName"
               placeholder="Benutzername"
               class="inputText"
               autofocus/>
        <div *ngIf="formRegistration.get('userName').hasError('required')
               && formRegistration.get('userName').touched" class="outputTextError">
          Bitte geben Sie ein Benutzername ein.
        </div>
        <div *ngIf="formRegistration.get('userName').hasError('minlength')
              && formRegistration.get('userName').touched" class="outputTextError">
          Der Benutzername muss mindestens 5 Zeichen enthalten.
        </div>
      </div>

      <fieldset formGroupName="passwordGroup">
        <div class="inputBlock">
          <input id="inputPasswort"
                 type="password"
                 formControlName="password"
                 placeholder="Passwort"
                 class="inputText"/>
          <div *ngIf="formRegistration.get('passwordGroup').get('password').hasError('required')
                && formRegistration.get('passwordGroup').get('password').touched" class="outputTextError">
            Bitte geben Sie ein Passwort ein.
          </div>
          <div *ngIf="formRegistration.get('passwordGroup').get('password').hasError('minlength')
                && formRegistration.get('passwordGroup').get('password').touched" class="outputTextError">
            Das Passwort muss mindestens 5 Zeichen enthalten.
          </div>
        </div>

        <div class="inputBlock">
          <input id="inputPasswordConfirm"
                 type="password"
                 formControlName="passwordConfirm"
                 placeholder="Passwort wiederholen"
                 class="inputText"/>
          <div *ngIf="formRegistration.get('passwordGroup').get('passwordConfirm').hasError('required')
                && formRegistration.get('passwordGroup').get('passwordConfirm').touched" class="outputTextError">
            Passwort wiederholen.
          </div>
          <div *ngIf="formRegistration.get('passwordGroup').hasError('errorPasswordEqual')
            && !(formRegistration.get('passwordGroup').get('passwordConfirm').hasError('required')
                && formRegistration.get('passwordGroup').get('passwordConfirm').touched)" class="outputTextError">
            Passwort ist nicht gleich. Bitte wiederholen Sie das gleiche Passwort.
          </div>
        </div>
      </fieldset>

      <div class="inputBlock">
        <input type="email"
               formControlName="email"
               placeholder="Email"
               class="inputText"/>
        <div *ngIf="formRegistration.get('email').hasError('required')
              && formRegistration.get('email').touched" class="outputTextError">
          Bitte geben Sie eine Emailadresse ein.
        </div>
        <div *ngIf="formRegistration.get('email').hasError('patternEmail')
                && formRegistration.get('email').touched
                && !(formRegistration.get('email').hasError('required')
              && formRegistration.get('email').touched)" class="outputTextError">
          Emailformat nicht korrekt.
        </div>
      </div>

      <p>Indem du dich einloggst, erklärst du dich mit der <a href="/src/app/components/cms/content/authentication/data-privacy.html" target="_blank">Datenschutzrichtlinie</a> und den <a href="/src/app/components/cms/content/authentication/general-policy.html" target="_blank">Allgemeinen Geschäftsbedingungen</a> einverstanden.</p>

      <button type="submit" class="btn scoop_button_primary_centered" [disabled]="formRegistration.invalid">Registrieren</button>
    </form>
  </div>

</div>
