<div class="content">

  <div class="content-max-width">
    <app-banner fileNamePicture="banner-application.png"></app-banner>
  </div>

  <div class="content-slim">

    <h1>Benutzerprofil</h1>

    <div id="accordion" role="tablist" aria-multiselectable="true">

      <!-- -------------------------------------------------- -->
      <!-- Persönliche Daten                                  -->
      <!-- -------------------------------------------------- -->
      <div class="card">
        <div class="card-header" role="tab" id="heading1">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Persönliche Daten
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-block">
            <form [formGroup]="formUserProfileUserAddress" (ngSubmit)="actionSaveUserAddress()" novalidate>
              <div class="inputBlock">
                <input type="text"
                       formControlName="gender"
                       placeholder="Geschlecht"
                       class="inputText"/>
              </div>

              <div class="inputBlock">
                <input type="text"
                       formControlName="lastName"
                       placeholder="Nachname"
                       class="inputText"/>
              </div>
              <div class="inputBlock">
                <input type="text"
                       formControlName="firstName"
                       placeholder="Vorname"
                       class="inputText"/>
              </div>

              <div class="inputBlock">
                <input type="text"
                       formControlName="street"
                       placeholder="Strasse"
                       class="inputText"/>
              </div>

              <div class="inputBlock">
                <input type="text"
                       formControlName="streetNumber"
                       placeholder="Strassennummer"
                       class="inputText"/>
              </div>

              <div class="inputBlock">
                <input type="text"
                       formControlName="postalCode"
                       placeholder="Postleitzahl"
                       class="inputText"/>
              </div>

              <div class="inputBlock">
                <input type="text"
                       formControlName="city"
                       placeholder="Ort"
                       class="inputText"/>
              </div>

              <div class="inputBlock">
                <input type="text"
                       formControlName="country"
                       placeholder="Wohnort"
                       class="inputText"/>
              </div>

              <div class="inputBlock">
                <input type="text"
                       formControlName="numberMobile"
                       placeholder="Telefonnummer Mobile"
                       class="inputText"/>
              </div>

              <button type="submit" class="btn scoop_button_primary_centered">Speichern</button>
            </form>
          </div>
        </div>
      </div>

      <!-- -------------------------------------------------- -->
      <!-- Zugangsdaten                                       -->
      <!-- -------------------------------------------------- -->
      <div class="card">
        <div class="card-header" role="tab" id="heading2">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Zugangsdaten
            </a>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-block">
            <form [formGroup]="formUserProfileUserCredentials" (ngSubmit)="actionSaveUserCredentials()" novalidate>
              <div class="inputBlock">
                <input type="email"
                       formControlName="email"
                       placeholder="Email"
                       class="inputText"
                       autofocus/>
                <div *ngIf="formUserProfileUserCredentials.get('email').hasError('required')
            && formUserProfileUserCredentials.get('email').touched" class="outputTextError">
                  Bitte geben Sie eine Emailadresse ein.
                </div>
                <div *ngIf="formUserProfileUserCredentials.get('email').hasError('pattern')
              && formUserProfileUserCredentials.get('email').touched" class="outputTextError">
                  Emailformat nicht korrekt.
                </div>
              </div>

              <div class="inputBlock">
                <input type="text"
                       formControlName="userName"
                       placeholder="Benutzername"
                       class="inputText"/>
                <div *ngIf="formUserProfileUserCredentials.get('userName').hasError('required')
             && formUserProfileUserCredentials.get('userName').touched" class="outputTextError">
                  Bitte geben Sie ein Benutzername ein.
                </div>
                <div *ngIf="formUserProfileUserCredentials.get('userName').hasError('minlength')
            && formUserProfileUserCredentials.get('userName').touched" class="outputTextError">
                  Der Benutzername muss mindestens 5 Zeichen enthalten.
                </div>
              </div>

              <div class="inputBlock">
                <input id="inputPasswort"
                       type="password"
                       formControlName="password"
                       placeholder="Passwort"
                       class="inputText"/>
                <div *ngIf="formUserProfileUserCredentials.get('password').hasError('required')
            && formUserProfileUserCredentials.get('password').touched" class="outputTextError">
                  Bitte geben Sie ein Passwort ein.
                </div>
                <div *ngIf="formUserProfileUserCredentials.get('password').hasError('minlength')
            && formUserProfileUserCredentials.get('password').touched" class="outputTextError">
                  Das Passwort muss mindestens 6 Zeichen enthalten.
                </div>
              </div>

              <button type="submit" class="btn scoop_button_primary_centered">Speichern</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
